$navbar-inverse-bg: $green-brand;

.container-fluid {
    width: 82%;
    padding: 8px;
    box-sizing: border-box;
}

.navbar-inverse {
    background-color: $navbar-inverse-bg !important;
    border-bottom: 0px !important;
}

#navbar li a {
    color: white !important;
}

.navbar-nav li a {
    text-transform: uppercase !important;
    font-size: 10px !important;
    letter-spacing: 1px !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: $green !important;
}

.dropdown a ul.dropdown-menu {
    background-color: $gray-dark !important;
}

.navbar-brand {
    color: white !important;
}

ul.nav .active {
    background-color: $green-dark !important;
}