@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "imports"; /* _swatches.scss, _typography.scss */

/* To do */
/* 
@import "imports/navbar";
@import "imports/buttons"; 
*/

/* UI KIT INDEX */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.nav .navbar-nav a {
    color: white !important;
}
